
<div class="container color-dark">
  <div class="col"><p>Add a goal to your list</p></div>
  <div class="col">
    <!-- output the item count -->
    <p>Your goals count: {{itemCount}}</p>
  </div>
</div>
<div class="container color-light" [@goals]="goals.length"> <!-- [@goals] triggers the amimations -->
  <div class="col">
    <p class="sm">Use the form below to add a new goal.</p>
    <form>
      <!-- two way binding on the text input -->
      <input type="text" class="txt" name="item" placeholder="enter a goal." [(ngModel)]="goalText">
      <!-- click event (addItem) to save form value -->
      <input type="submit" class="btn" value="Add Item" (click)="addItem()">
    </form>
  </div>
  <div class="col">
      <!-- loop out goals array for output,  on click run remove item method -->
      <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
        {{goal}}
      </p>
  </div>
</div>
